@charset "UTF-8";

@media screen and (min-width: 300px) and (max-width:768px){

   /* Página Homer*/

    .titulo-principal, .conteudo-beneficios, .beneficios, .principal, .video, .caixa, .mapa {
        width: 100%;
        margin: auto;
        
    }

    .titulo-principal {
        padding: 20px 0;
    }

    .principal p {
        display: block;
        text-align: center;
        text-indent: 10px;
        padding: 5px;
        line-height: 20px;

    }

    .img {
        text-align: center;
    }

    .mapa-conteudo {
        width: 100%;
    }


    .imagem-beneficios {
        width: 50%;
    }

    .lista-beneficios {
        padding: 10px 10px;
    }

    .utensilios {
        display: block;
        width:  90%;
        margin: auto;
        height: 250px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        
        
}

    .mapa-conteudo {
        width: 400px
    }

    nav {
        position: static;
        
    }
    
    /* Página produtos*/

    .produtos {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px
       
        
    }

    .produtos li {
        margin-top: 20px;
        width: 60%;
    }

    .barba-cabelo {
        width: 100%;
    }

    .descricao {
        line-height: 20px;
        text-align: center;
        text-indent: 10px;
    }

    


    
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    

    
}